[Unit]
Description=Main Server Service
After=network.target

[Service]
Type=simple
ExecStart=/home/ubuntu/main
Restart=always

[Install]
WantedBy=multi-user.target

